*.xlsx
*.xls
/src/transform_tools/dist/
/src/transform_tools/build/
/src/unmerge_tools/dist/
/src/unmerge_tools/build/
/.idea/
/src/transform_tools/__pycache__/
/src/unmerge_tools/__pycache__/
/src/dist/
/src/build/
*.spec